@use 'mixins';
@use 'utils';

$content-padding-x: utils.spacing(4);

.main {
  display: flex;
  flex-direction: column;
}

.header {
  position: relative;
  width: 100%;
}

.containerCover {
  margin-bottom: utils.spacing(12);
}

.containerPostMeta {
  position: relative;
  padding: 0 $content-padding-x;
  width: 100%;
}

.labelExclusive {
  display: inline-block;
  padding: utils.spacing(1) utils.spacing(3);
  font-size: utils.spacing(3);
  color: utils.theme-color('white');
  background: utils.theme-color('red', 500);
  border-radius: utils.spacing(1);
}

.textTitle {
  margin: 0 0 utils.spacing(4);
}

.containerPostMetaToolset {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.containerPostMetaContent {
  @include mixins.gap-with-fallback(utils.spacing(1), false);

  display: flex;
  flex-direction: column;
}

.textAuthorName {
  color: utils.theme-color('gray', 500);
}

.containerPostPublishMeta {
  font-size: utils.spacing(3.5);
  color: utils.theme-color('gray', 400);
}

.body {
  @include mixins.gap-with-fallback(utils.spacing(6), false, true);

  display: flex;
  flex-direction: column;
  padding: utils.spacing(6) $content-padding-x;
}
