@use 'mixins';
@use 'utils';

.main {
  @include mixins.gap-with-fallback(utils.spacing(4));

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: utils.spacing(4);
  width: utils.spacing('full');
  min-height: utils.spacing(20);
  border: 0;
  border-style: solid;
  border-color: utils.theme-color('gray', 200);
  border-bottom-width: utils.spacing('px');

  &.hasRead {
    opacity: utils.opacity(0.6);
  }
}

.containerCoverImage {
  @include mixins.size(utils.spacing(20));

  position: relative;
  overflow: hidden;
  border-radius: utils.spacing('full');
  flex: none;
}

.containerTitle {
  @include mixins.gap-with-fallback(utils.spacing(2), false);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-height: utils.spacing(20);
  color: utils.theme-color('gray', 600);
  flex: 1;
}

.textTitle {
  flex: 1;
  font-weight: 600;

  @at-root .hasRead & {
    font-weight: 400;
  }
}

.textNotificationCreateDate {
  flex: none;
  color: utils.theme-color('gray', 400);
}



