@use 'sass:color';
@use 'mixins';
@use 'utils';

.main {
  position: fixed;
  bottom: utils.spacing(20);
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 0 utils.spacing(2);
  width: utils.spacing(full);
  z-index: utils.z-index('highest');
}

.body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: utils.spacing(5);
  width: utils.spacing('full');
  background: utils.theme-color('white');
  border-radius: utils.spacing(2);
  box-shadow: 0 utils.spacing('px') utils.spacing(1.5) color.adjust(utils.theme-color('gray', 500), $alpha: -0.7);
}

.textMessage {
  color: utils.theme-color('gray', 500);
}

.textUndo {
  @include mixins.active-text(
    utils.theme-color('blue', 500),
    utils.theme-color('blue', 600),
  );
}

.containerLoadingIcon {
  @include mixins.set-icon-color(utils.theme-color('gray', 500));
}

.containerAsideRight {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: utils.spacing(10);
}

.fadeTransitionEnter {
  opacity: 0;
  transform: translateY(20%);
}

.fadeTransitionEnterActive {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.fadeTransitionExit {
  opacity: 1;
  transform: translateY(0);
}

.fadeTransitionExitActive {
  opacity: 0;
  transform: translateY(20%);
  transition: opacity 300ms, transform 300ms;
}
