@use 'mixins';
@use 'utils';

.main {
  @include mixins.size(utils.spacing('full'));

  display: flex;
  align-items: center;
  justify-content: center;
}

.containerBgIconText {
  @include mixins.background-icon-text;
  @include mixins.gap-with-fallback(unset);

  padding: 0 utils.spacing(12);
  width: utils.spacing('full');
}

.headerBgIconText {
  padding: utils.spacing(6) 0 utils.spacing(1);
  font-weight: 600;
  color: utils.theme-color('gray', 600);
}

.bodyBgIconText {
  font-size: utils.spacing(4);
  font-weight: unset;
  color: utils.theme-color('gray', 500);
}

.containerBgIconTextBtn {
  padding: utils.spacing(12) 0;
  width: utils.spacing('full');
  font-size: utils.spacing(4);
}

.textSignIn {
  @include mixins.size(utils.spacing('full'));
}
