@use 'sass:color';
@use 'mixins';
@use 'utils';

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  &.open {
    display: unset;
    z-index: 9999;
  }
}

.main {
  @include mixins.autoprefix(
    'transition',
    30s transform ease,
  );
  @include mixins.autoprefix(
    'transform',
    translateX(utils.spacing('full')),
  );
  @include mixins.gap-with-fallback(utils.spacing(6), false);

  display: flex;
  flex-direction: column;
  padding: utils.spacing(8) utils.spacing(2);
  background: utils.theme-color('white');

  &.open {
    @include mixins.autoprefix(
      'transform',
      translateX(0),
    );
  }
}

.containerBackTextIcon {
  $normal-color: utils.theme-color('gray', 600);
  $active-color: utils.theme-color('blue', 500);

  @include mixins.active-icon($normal-color, $active-color);
  @include mixins.active-text($normal-color, $active-color);
  @include mixins.gap-with-fallback(utils.spacing(1));

  display: inline-flex;
  align-items: center;
  font-size: utils.spacing(5);
}
