@use 'mixins';
@use 'utils';

.main {
  position: relative;
}

.containerIconFormClose {
  position: absolute;
  top: 0;
  bottom: 0;
  right: utils.spacing(1);
  cursor: pointer;

  &:not(.active) {
    @include mixins.set-icon-color(utils.theme-color('gray', 400));
  }

  &.active {
    @include mixins.set-icon-color(utils.theme-color('blue', 500));
  }
}
