@use 'mixins';
@use 'utils';

.main {
  display: flex;
  flex-direction: column;
  padding: 0 utils.spacing(8);
  width: 100%;
  min-height: var(--app-height, 100vh);
}

.header {
  flex-grow: none;
}

.body {
  flex-grow: 1;
}

.footer {
  flex-grow: none;
}

.containerTitle {
  @include mixins.gap-with-fallback(utils.spacing(4), false, true);

  display: flex;
  flex-direction: column;
  margin-bottom: utils.spacing(14);
}

.titleMain {
  margin: 0;
  color: utils.theme-color('gray', 700);
}

.titleSub {
  margin: 0;
  font-weight: 300;
  color: utils.theme-color('gray', 400);
}
