@use 'utils';

@keyframes lighten {
  0% {
    background-size: 100% 100%;
    opacity: 1;
  }

  100% {
    background-size: 600% 600%;
    opacity: 0;
  }
}

.main {
  position: relative;
}

.containerSvgClickHighlight {
  position: absolute;
  inset: 0;
}

.bodySvgClickHighlight {
  opacity: utils.opacity(0.5);
}
