@use 'mixins';
@use 'utils';

.main {
  @include mixins.shadowed-frame;
  @include mixins.gap-with-fallback(utils.spacing(6));

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: utils.spacing(8) utils.spacing(6);
}

.containerAvatar {
  @include mixins.size(utils.spacing(14));

  overflow: hidden;
  border-radius: utils.spacing('full');
  flex: none;
}

.containerAccountName {
  @include mixins.gap-with-fallback(utils.spacing(1), false);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
}

.textName {
  font-weight: 700;
  color: utils.theme-color('gray', 500);
}

.textAccount {
  font-weight: 300;
  word-break: break-all;
  color: utils.theme-color('gray', 400);
}

.containerIconFormEdit {
  @include mixins.active-icon(
    utils.theme-color('gray', 400),
    utils.theme-color('blue', 500),
  );

  flex: none;
}
