@use 'sass:color';
@use 'mixins';
@use 'utils';

.main {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: color.adjust(utils.theme-color('gray', 400), $alpha: -0.2);
}

.mainTransitionEnter {
  opacity: 0;
}

.mainTransitionEnterActive {
  @include mixins.autoprefix(transition, utils.timing(0.3) opacity ease-in-out);

  opacity: 1;
}

.mainTransitionExit {
  opacity: 1;
}

.mainTransitionExitActive {
  @include mixins.autoprefix(transition, utils.timing(0.3) opacity ease-in-out);

  opacity: 0;
}

.containerModal {
  @include mixins.shadowed-frame;
  @include mixins.gap-with-fallback(utils.spacing(3), false);

  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: utils.spacing(6);
  width: 80%;
  min-height: utils.spacing(56);
  max-height: utils.spacing(64);
  background: utils.theme-color('white');
  border-radius: utils.spacing(2);

  @at-root .mainTransitionEnter & {
    @include mixins.autoprefix(transform, translateY(-20%));
  }

  @at-root .mainTransitionEnterActive & {
    @include mixins.autoprefix(transition, transform utils.timing(0.45) ease);
    @include mixins.autoprefix(transform, translateY(0));
  }

  @at-root .mainTransitionExit & {
    @include mixins.autoprefix(transform, translateY(0));
  }

  @at-root .mainTransitionExitActive & {
    @include mixins.autoprefix(transition, transform utils.timing(0.45) ease);
    @include mixins.autoprefix(transform, translateY(-20%));
  }
}

.containerHeader {
  flex: none;
}

.containerBody {
  flex: 1;
}

.containerFooter {
  flex: none;
}
