@use 'utils';

.main {
  text-decoration: none;
  color: utils.theme-color('blue', 400);

  &:hover {
    color: utils.theme-color('blue', 300);
  }

  &:active {
    color: utils.theme-color('blue', 600);
  }
}
