@use 'mixins';
@use 'utils';

.main {
  $message-color: utils.theme-color('red', 500);

  @include mixins.set-icon-color($message-color);
  @include mixins.gap-with-fallback(utils.spacing(1));

  display: flex;
  align-items: center;
  padding: utils.spacing(2) 0;
  font-size: utils.spacing(3.5);
  color: $message-color;

  > .iconInfo {
    $icon-size: utils.spacing(3.5);

    width: $icon-size;
    height: $icon-size;
    vertical-align: middle;
  }
}
