@use 'mixins';
@use 'utils';

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.containerAvatar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: utils.spacing(6);
}

.containerAvatarImage {
  @include mixins.size(utils.spacing(56));

  overflow: hidden;
  border-radius: utils.spacing('full');
}

.containerInputField {
  @include mixins.gap-with-fallback(utils.spacing(10), false);

  display: flex;
  flex-direction: column;
}

.textInputFieldTitle {
  @include mixins.input-field-title;
}

.textAccount {
  font-weight: 300;
  word-break: break-all;
  color: utils.theme-color('gray', 700);
}

.containerSubmitButton {
  margin-top: utils.spacing(28);
}
