@use 'mixins';
@use 'utils';

.main {
  @include mixins.gap-y(utils.spacing(20));
}

.containerInputField {
  @include mixins.gap-y(utils.spacing(8));
}

.containerTermsOfServiceNotice {
  @include mixins.gap-with-fallback(utils.spacing(2));

  display: inline-flex;
  align-items: center;
}

.termsOfServiceNotice {
  color: utils.theme-color('gray', 500);
}

.footer {
  @include mixins.gap-with-fallback(utils.spacing(4), false);

  display: flex;
  flex-direction: column;
}
