@use 'mixins';
@use 'utils';

.main {
  @include mixins.gap-with-fallback(utils.spacing(6), false);

  display: flex;
  flex-direction: column;
}

.header {
  margin: auto;
}

.body {
  overflow: auto;
}

.tableBillingHistory {
  min-width: utils.spacing(80);
}

.containerBgIconText {
  padding: utils.spacing(10) utils.spacing(4);
  width: utils.spacing('full');
}

.bgIconText {
  @include mixins.background-icon-text;
}
