@use 'mixins';
@use 'utils';

.main {
  padding: utils.spacing(6) utils.spacing(4);
}

.containerViewPostList {
  @include mixins.gap-with-fallback(utils.spacing(6), false);

  display: flex;
  flex-direction: column;
}

.containerLoadingIcon {
  @include mixins.set-icon-color(utils.theme-color('gray', 500));

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: utils.spacing(16);
}
