@use 'sass:color';
@use 'mixins';
@use 'utils';

.main {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: utils.theme-color('white');
  z-index: utils.z-index('highest');
}

.mainTransitionEnter {
  @include mixins.autoprefix(transform, translateX(utils.spacing('full')));

  opacity: 0;
}

.mainTransitionEnterActive {
  @include mixins.autoprefix(transform, translateX(0));
  @include mixins.autoprefix(
    transition,
    utils.timing(0.4) transform ease-in-out,
    utils.timing(0.4) opacity ease-in-out,
  );

  opacity: 1;
}

.mainTransitionExit {
  @include mixins.autoprefix(transform, translateX(0));

  opacity: 1;
}

.mainTransitionExitActive {
  @include mixins.autoprefix(transform, translateX(utils.spacing('full')));
  @include mixins.autoprefix(
    transition,
    utils.timing(0.4) transform ease-in-out,
    utils.timing(0.4) opacity ease-in-out,
  );

  opacity: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: none;
  padding: utils.spacing(6) utils.spacing(2);
}

.body {
  overflow: auto;
  flex: 1;
}

.containerBackTextIcon {
  $normal-color: utils.theme-color('gray', 500);
  $active-color: utils.theme-color('blue', 400);

  @include mixins.active-icon($normal-color, $active-color);
  @include mixins.active-text($normal-color, $active-color);
  @include mixins.gap-with-fallback(utils.spacing(1));

  display: inline-flex;
  flex: none;
  align-items: center;
  font-size: utils.spacing(5);
  color: utils.theme-color('gray', 500);
}

.containerTitle {
  flex: 1;
  padding: 0 utils.spacing(2);
  font-size: utils.spacing(6);
  text-align: center;
  color: utils.theme-color('gray', 600);
}
