@use 'mixins';
@use 'utils';

.main {
  @include mixins.gap-with-fallback(utils.spacing(6));

  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: utils.spacing(3) utils.spacing(5);
  width: utils.spacing('full');
  border-style: solid;
  border-width: utils.spacing(0.5);
  border-color: transparent;
  border-radius: utils.spacing(2);

  &.selected {
    border-color: utils.theme-color('blue', 500);

    &.disabled {
      border-color: utils.theme-color('gray', 400);
    }
  }

  &.disabled {
    background: utils.theme-color('gray', 100);
  }
}

.containerRadioButton {
  @include mixins.size(utils.spacing(4));

  display: inline-flex;
  align-items: center;
  flex: none;
}

.textSubscriptionPlanText {
  font-weight: 400;
  color: utils.theme-color('gray', 600);
  flex: 1;

  @at-root {
    .main.disabled & {
      color: utils.theme-color('gray', 500);
    }
  }
}

.textSubscriptionPlanPriceUnit {
  font-weight: 300;
  color: utils.theme-color('gray', 500);
  flex: none;

  @at-root {
    .main.disabled & {
      color: utils.theme-color('gray', 400);
    }
  }
}
