@use 'sass:color';
@use 'mixins';
@use 'utils';

.main {
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  width: utils.spacing('full');
  height: utils.spacing(14);
  border-top: utils.spacing('px') solid utils.theme-color('gray', 200);
  box-shadow: 0 utils.spacing('px') * -1 utils.spacing('px') 0 color.adjust(utils.theme-color('gray', 300), $alpha: -0.7);
}

.iconClickHighlight {
  @include mixins.rounded-icon-container;
}
