@use 'mixins';
@use 'utils';

.containerModalTitle {
  @include mixins.text-ellipsis;

  font-size: utils.spacing(5);
  font-weight: 600;
}

.textTitleDefault {
  color: utils.theme-color('gray', 600);
}

.textTitleDanger {
  color: utils.theme-color('red', 400);
}

.containerModalBody {
  @include mixins.size(utils.spacing('full'));

  color: utils.theme-color('gray', 500);
}
