@use 'utils';

.main {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.textCaption {
  padding: utils.spacing(4) utils.spacing(3);
  font-size: utils.spacing(3.5);
  color: utils.theme-color('gray', 400);
  background: utils.theme-color('gray', 100);
}
