@use 'mixins';
@use 'utils';

.main {
  @include mixins.rounded-icon-container;

  padding: utils.spacing(2);
}

.containerIcon {
  @include mixins.set-icon-color(utils.theme-color('gray', 400));
  @include mixins.set-icon-size(utils.spacing('full'));

  &.small {
    @include mixins.size(utils.spacing(5));
  }

  &.medium {
    @include mixins.size(utils.spacing(6));
  }

  &.large {
    @include mixins.size(utils.spacing(8));
  }

  &.xlarge {
    @include mixins.size(utils.spacing(10));
  }

  &.x2large {
    @include mixins.size(utils.spacing(12));
  }

  &.x3large {
    @include mixins.size(utils.spacing(14));
  }

  &:not(.static) {
    cursor: pointer;

    &:hover {
      opacity: utils.opacity(0.6);
    }

    &:not(.preventActive) {
      &:active,
      &.active {
        @include mixins.set-icon-color(utils.theme-color('blue', 500));

        opacity: utils.opacity(1);
      }
    }
  }
}
