@use 'mixins';
@use 'utils';

.main {
  @include mixins.gap-with-fallback(utils.spacing(2), false);

  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 utils.spacing(2);
  width: utils.spacing('full');
  background: utils.theme-color('white');
  list-style: none;
}
