@use 'mixins';
@use 'utils';

.main {
  @include mixins.gap-with-fallback(utils.spacing(12), false);

  display: flex;
  flex-direction: column;
}

.footer {
  @include mixins.gap-with-fallback(utils.spacing(4), false);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: utils.spacing(6);
}
