@use 'mixins';
@use 'utils';

.headerWelcome {
  @include mixins.gap-y(utils.spacing(6));
}

.headerWelcomeMain {
  color: utils.theme-color('gray', 700);
}

.headerWelcomeSub {
  font-weight: 300;
  color: utils.theme-color('gray', 400);
}

.containerSocialNetworkButtonSet {
  margin: utils.spacing(10) 0;
}

.signInTypeSeparator {
  @include mixins.gap-with-fallback(utils.spacing(2));

  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: utils.spacing(10) 0;
  color: utils.theme-color('gray', 400);

  &::before,
  &::after {
    content: '';
    display: inline-block;
    flex: auto;
    height: utils.spacing('px');
    background: utils.theme-color('gray', 200);
  }
}

.containerSignUpNotice {
  margin-top: utils.spacing(14);
  text-align: center;
  color: utils.theme-color('gray', 400);
}

.containerForgotPasswordNotice {
  margin-top: utils.spacing(4);
  text-align: center;
  color: utils.theme-color('gray', 400);
}
