@use 'mixins';
@use 'utils';

.main {
  @include mixins.gap-with-fallback(utils.spacing(20), false);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: utils.spacing(20);
}
