@use 'mixins';
@use 'utils';

.main {
  @include mixins.shadowed-frame;

  overflow: hidden;
  border-radius: utils.spacing(2);

  >*:not(:last-child) {
    @include mixins.separator-bottom;
  }
}

.containerSubscription {
  @include mixins.gap-with-fallback(utils.spacing(3), false);

  display: flex;
  flex-direction: column;
  padding: utils.spacing(4);
}

.containerSubscriptionTextOperation {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.textSubscriptionTitle {
  font-size: utils.spacing(3);
  font-weight: 700;
  color: utils.theme-color('gray', 700);
}

.textSubscriptionPlan {
  font-size: utils.spacing(5);
  font-weight: 300;
  color: utils.theme-color('gray', 500);
  letter-spacing: utils.spacing(0.5);
}

.textUnsubscript {
  @include mixins.active-text(
    utils.theme-color('red', 400),
    utils.theme-color('red', 500),
  );

  font-size: utils.spacing(3);
}

.containerSubscriptionDetail {
  display: flex;
  flex-flow: column wrap;
  padding: utils.spacing(4);
}

.rowSubscriptionDetail {
  display: inline-flex;
  flex: 1 1 utils.spacing('full');
  align-items: center;
}

.itemSubscriptionDetail {
  width: utils.spacing('half');
}

.titleSubscriptionDetail {
  padding: utils.spacing(0.5) 0;
  font-size: utils.spacing(2.5);
  font-weight: 600;
  color: utils.theme-color('gray', 400);
}

.textSubscriptionDetail {
  font-size: utils.spacing(3.5);
  font-weight: 400;
  color: utils.theme-color('gray', 600);
}
