@use 'mixins';
@use 'utils';

.main {
  @include mixins.gap-with-fallback(utils.spacing(3));

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: utils.spacing(4) utils.spacing(5);
  width: utils.spacing('full');
  border-radius: utils.spacing(0.5);

  &.default {
    $icon-text-color: utils.theme-color('gray', 500);

    @include mixins.set-icon-color($icon-text-color);

    color: $icon-text-color;
    background: utils.theme-color('gray', 100);
  }

  &.primary {
    $icon-text-color: utils.theme-color('white');

    @include mixins.set-icon-color($icon-text-color);

    color: $icon-text-color;
    background: utils.theme-color('blue', 400);
  }

  &.warning {
    $icon-text-color: utils.theme-color('gray', 500);

    @include mixins.set-icon-color($icon-text-color);

    color: $icon-text-color;
    background: utils.theme-color('yellow', 100);
  }

  &.danger {
    $icon-text-color: utils.theme-color('white');

    @include mixins.set-icon-color($icon-text-color);

    color: $icon-text-color;
    background: utils.theme-color('red', 400);
  }
}

.containerIcon {
  display: flex;
  align-items: center;
  flex: none;
}

.textMessage {
  flex: 1;
  font-size: utils.spacing(3.5);
}
