@use 'utils';

.main {
  width: utils.spacing('full');
  border-collapse: collapse;
}

.headerRow {
  font-size: utils.spacing(3);
  text-align: left;
  color: utils.theme-color('gray', 400);

  > th {
    padding: 0 utils.spacing(2);
    font-weight: 400;
  }
}


.bodyRow {
  font-size: utils.spacing(3);
  text-align: left;
  color: utils.theme-color('gray', 600);

  > td {
    padding: utils.spacing(4) utils.spacing(2);
  }

  @at-root {
    .body &:nth-child(2n) {
      background: utils.theme-color('gray', 100);
    }
  }
}
