@use 'mixins';
@use 'utils';

.main {
  @include mixins.gap-with-fallback(utils.spacing(2));

  display: inline-flex;
  align-items: center;
  font-size: utils.spacing(4);
  color: utils.theme-color('gray', 400);
}
