@use 'mixins';
@use 'utils';

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: utils.spacing(10) 0;
}

.separator {
  @include mixins.separator-x;
}

.locale {
  color: utils.theme-color('gray', 500);
}
