@use 'mixins';
@use 'utils';

.main {
  position: relative;
  width: 100%;
}

.fieldName {
  @include mixins.autoprefix(
    'transition',
    utils.timing(0.15) top ease,
    utils.timing(0.15) font-weight ease,
    utils.timing(0.15) font-size ease,
    utils.timing(0.15) color ease
  );

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  color: utils.theme-color('gray', 400);
  pointer-events: none;

  @at-root {
    .input:focus ~ &,
    .input:not(:placeholder-shown) ~ & {
      top: utils.spacing(4) * -1;
      bottom: unset;
      font-size: utils.spacing(3);
      font-weight: 700;

      &.hasError {
        color: utils.theme-color('red', 500);
      }
    }

    .input:focus ~ & {
      color: utils.theme-color('blue', 500);
    }
  }
}

.input {
  @include mixins.autoprefix(
    'transition',
    utils.timing(0.15) border-color ease
  );

  padding: 0 0 utils.spacing(1);
  width: 100%;
  color: utils.theme-color('gray', 800);
  border: 0;
  border-bottom: utils.spacing(0.5) solid utils.theme-color('gray', 300);
  outline: 0;

  &::placeholder {
    color: transparent;
  }

  &:focus {
    border-color: utils.theme-color('blue', 400);
  }

  &.hasError {
    border-color: utils.theme-color('red', 500);
  }
}
