@use 'mixins';
@use 'utils';

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 utils.spacing(4);
}

.containerIcon {
  @include mixins.set-icon-size(utils.spacing(14));
  @include mixins.set-icon-weight(1);
}

.textTitle {
  font-weight: 500;
  color: utils.theme-color('gray', 600);
}

.textSubTitle {
  font-size: utils.spacing(3.5);
  font-weight: 300;
  color: utils.theme-color('gray', 400);
}
