@use 'mixins';
@use 'utils';

.main {
  @include mixins.size(utils.spacing(12));
  @include mixins.set-icon-size(utils.spacing(5));
  @include mixins.set-icon-color(utils.theme-color('gray', 300));

  display: flex;
  align-items: center;
  justify-content: center;
  background: utils.theme-color('white');
  cursor: pointer;
  border-radius: utils.spacing('full');

  &.active {
    @include mixins.set-icon-color(utils.theme-color('white'));

    background: utils.theme-color('indigo', 500);
  }
}
