@use 'mixins';
@use 'utils';

.main {
  position: relative;

  &.active::after {
    @include mixins.size(utils.spacing(2));

    position: absolute;
    top: 0;
    right: 0;
    content: '';
    display: block;
    background: utils.theme-color('red', 500);
    border-radius: utils.spacing('full');
  }
}
