@use 'mixins';
@use 'utils';

.main {
  @include mixins.gap-with-fallback(utils.spacing(4));

  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.containerSwitchArrow {
  @include mixins.active-icon(
    utils.theme-color('gray', 500),
    utils.theme-color('blue', 500),
    true,
  );

  display: flex;
  align-items: center;
  cursor: pointer;

  &.disabled {
    @include mixins.clear-active-icon(true);

    opacity: 0.2;

    &:hover {
      opacity: 0.2;
    }
  }
}

.textYear {
  color: utils.theme-color('blue', 500);
}
