@use 'mixins';
@use 'utils';

.main {
  @include mixins.size(utils.spacing('full'));

  display: flex;
  align-items: center;
  justify-content: center;
}

.containerLoadingIcon {
  @include mixins.set-icon-color(utils.theme-color('gray', 400));
}
