@use 'mixins';
@use 'utils';

.main {
  @include mixins.size(utils.spacing('full'));
  @include mixins.gap-with-fallback(utils.spacing(3), false);

  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: utils.spacing(3.5);
  width: utils.spacing('full');
  min-height: utils.spacing(32);
  color: unset;
  border-radius: utils.spacing(2);
  box-shadow: 0 0 utils.spacing(2) 0 utils.theme-color('gray', 300);
}

.labelExclusive {
  position: absolute;
  top: utils.spacing(3);
  left: 0;
  padding: utils.spacing(1) utils.spacing(3);
  font-size: utils.spacing(3);
  border-top-right-radius: utils.spacing(1);
  border-bottom-right-radius: utils.spacing(1);
  color: utils.theme-color('white');
  background: utils.theme-color('red', 500);
  z-index: 2;
}

.content {
  @include mixins.gap-with-fallback(utils.spacing(4));

  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex: 1;
}

.containerImage {
  position: relative;
  flex-basis: 25%;
  overflow: hidden;
  border-radius: utils.spacing(1);
}

.containerTitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-basis: 75%;
}

.title {
  margin: 0;
  color: utils.theme-color('gray', 500);
}

.containerTitleFooter {
  display: flex;
  flex-direction: column;
  flex: none;
}
