@use 'mixins';
@use 'utils';

.containerTitle {
  @include mixins.gap-with-fallback(utils.spacing(1), false);

  display: flex;
  flex-direction: column;
  padding: utils.spacing(4);
}

.textTitle {
  font-size: utils.spacing(5);
  font-weight: 600;
  color: utils.theme-color('gray', 600);
}

.textCreateDate {
  color: utils.theme-color('gray', 400);
}

.body {
  padding: utils.spacing(2) utils.spacing(4);
}
