@use 'mixins';
@use 'utils';

.main {
  @include mixins.size(utils.spacing('full'));
  
  overflow: auto;
  padding-bottom: utils.spacing(16);
}

.footer {
  position: fixed;
  bottom: utils.spacing(16);
  width: utils.spacing('full');
}
