@use 'mixins';
@use 'utils';

.main {
  @include mixins.size(utils.spacing('full'));
  @include mixins.set-icon-size(utils.spacing('full'));

  position: relative;
  display: inline-block;
}

.input {
  @include mixins.size(utils.spacing('full'));

  opacity: 0;
}

.containerIconInput {
  @include mixins.size(utils.spacing('full'));
  @include mixins.set-icon-color(utils.theme-color('gray', 700));

  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;

  @at-root {
    .input:disabled + & {
      @include mixins.set-icon-color(utils.theme-color('gray', 300));
    }
  }
}
