@use 'mixins';
@use 'utils';

.main {
  @include mixins.gap-with-fallback(utils.spacing(6));

  display: flex;
  align-items: center;
  justify-content: center;
}

.socialNetworkButton {
  padding: 0;
  width: utils.spacing(10);
  height: utils.spacing(10);
  border-radius: 100%;

  > .socialNetworkIcon {
    width: utils.spacing(5);
    height: utils.spacing(5);
    vertical-align: middle;
  }
}
