@use 'mixins';
@use 'utils';

.main {
  $normal-color: utils.theme-color('gray', 600);

  @include mixins.set-icon-color($normal-color);

  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: utils.spacing(2) utils.spacing(4);
  width: utils.spacing('full');
  color: $normal-color;
}

.textItemText {
  font-size: utils.spacing(3.5);
  font-weight: 700;
}
