@use 'mixins';
@use 'utils';

.main {
  @include mixins.size(utils.spacing('full'));
  @include mixins.gap-with-fallback(utils.spacing(8), false);

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: utils.spacing(8) utils.spacing(6) utils.spacing(4);
  border-top: utils.spacing('px') solid utils.theme-color('gray', 300);
  background: utils.theme-color('white');

  &::before {
    $cover-height: utils.spacing(28);

    content: '';
    position: absolute;
    top: calc(#{$cover-height * -1} - #{utils.spacing('px')});
    right: 0;
    left: 0;
    width: utils.spacing('full');
    height: $cover-height;
    background: linear-gradient(transparent, utils.theme-color('white'));
    pointer-events: none;
  }
}

.header {
  @include mixins.gap-with-fallback(utils.spacing(4), false);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerHeaderTitle {
  @include mixins.gap-with-fallback(utils.spacing(2), false);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.textTitle {
  font-size: utils.spacing(4.5);
  font-weight: 600;
  color: utils.theme-color('gray', 600);
}

.textSubTitle {
  font-size: utils.spacing(3);
  color: utils.theme-color('gray', 400);
}

.containerSubscribeBtn {
  width: utils.spacing('full');
}
