@use 'sass:color';
@use 'mixins';
@use 'utils';

.main {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: utils.spacing('full');
  height: utils.spacing(14);
  border-bottom: utils.spacing('px') solid utils.theme-color('gray', 200);
  box-shadow: 0 utils.spacing('px') utils.spacing('px') 0 color.adjust(utils.theme-color('gray', 300), $alpha: -0.7);
}

.containerHeaderIcon {
  @include mixins.set-icon-color(utils.theme-color('gray', 400));

  position: absolute;
  right: utils.spacing(3);
}

.iconClickHighlight {
  @include mixins.rounded-icon-container;

  padding: utils.spacing(2);
}
