@use 'mixins';
@use 'utils';

.main {
  @include mixins.size(utils.spacing('full'));

  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: utils.spacing('full');
  min-height: utils.spacing(56);
  color: unset;
  border-radius: utils.spacing(2);
  box-shadow: 0 0 utils.spacing(2) 0 utils.theme-color('gray', 300);
}

.labelExclusive {
  position: absolute;
  top: utils.spacing(3);
  left: 0;
  padding: utils.spacing(1) utils.spacing(3);
  font-size: utils.spacing(3);
  border-top-right-radius: utils.spacing(1);
  border-bottom-right-radius: utils.spacing(1);
  color: utils.theme-color('white');
  background: utils.theme-color('red', 500);
  z-index: 2;
}

.containerImage {
  position: relative;
  width: 100%;
  flex: auto;
  flex-basis: utils.spacing(52);
}

.containerTitleFooter {
  @include mixins.gap-with-fallback(utils.spacing(3), false);

  display: flex;
  flex-direction: column;
  padding: utils.spacing(3.5);
  flex: 0;
}

.title {
  margin: 0;
  color: utils.theme-color('gray', 500);
}
