@use 'mixins';
@use 'utils';

.main {
  @include mixins.size(utils.spacing('full'));

  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: utils.spacing(6) utils.spacing(4);
}

.body {
  @include mixins.gap-with-fallback(utils.spacing(6), false);

  display: flex;
  flex-direction: column;
  flex: 1;
}

.footer {
  flex: none;
}

.containerModalContentEditor {
  padding: utils.spacing(10);
}

.containerModalBillingHistory {
  padding: utils.spacing(2);
}

.containerModalAgreement {
  overflow: auto;
  padding: 0 utils.spacing(6) utils.spacing(24);
}
