@use 'mixins';
@use 'utils';

.main {
  @include mixins.size(utils.spacing('full'));
  @include mixins.gap-with-fallback(utils.spacing(6), false);

  display: flex;
  flex-direction: column;
}

.containerHeader {
  padding: utils.spacing(10) utils.spacing(4) 0;
}

.containerBgIconText {
  padding: utils.spacing(20) utils.spacing(4);
  width: utils.spacing('full');
}

.bgIconText {
  @include mixins.background-icon-text;
}

.containerSearchPostList {
  @include mixins.gap-with-fallback(utils.spacing(6), false);

  display: flex;
  flex-direction: column;
  padding: utils.spacing(2) utils.spacing(6) utils.spacing(4);
}

.containerLoadingIcon {
  @include mixins.set-icon-color(utils.theme-color('gray', 500));

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: utils.spacing(16);
}
