@use 'utils';
@use 'variables/base';
@import 'normalize.css/normalize.css';

:root {
  font-size: base.$base-size;
  font-family: base.$sans-font-family;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;

  @supports (-webkit-tap-highlight-color: transparent) {
    -webkit-tap-highlight-color: transparent;
  }
}
