@use 'sass:list';
@use 'utils';

@mixin autoprefix($property, $values...) {
  $vendor-prefix: '-webkit-', '-moz-', '-ms-', '-o-';

  @each $prefix in $vendor-prefix {
    #{$prefix}#{$property}: $values;
  }

  $property: $values;
}

@mixin set-icon-color($color) {
  svg > * {
    stroke: $color;
  }
}

@mixin set-icon-background($color) {
  svg > path {
    fill: $color;
  }
}

@mixin set-icon-weight($value) {
  svg > path {
    stroke-width: $value;
  }
}

@mixin set-icon-size($value) {
  svg {
    @include size($value);
  }
}

@mixin gap-x ($spacing) {
  >:not(:last-child) {
    margin-right: $spacing;
  }
}

@mixin gap-y ($spacing) {
  >:not(:last-child) {
    margin-bottom: $spacing;
  }
}

@mixin separator-x {
  margin: 0 utils.spacing(2);
  color: utils.theme-color('gray', 200);
  vertical-align: middle;
}

@mixin separator-bottom {
  border-bottom: utils.spacing('px') solid utils.theme-color('gray', 200);
}

@mixin size($value) {
  width: $value;
  height: $value;
}

@mixin background-icon-text {
  $base-color: utils.theme-color('gray', 300);

  @include set-icon-size(utils.spacing(24));
  @include set-icon-color($base-color);
  @include set-icon-weight(1);
  @include gap-with-fallback(utils.spacing(3), false);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: utils.spacing(6);
  font-weight: 300;
  text-align: center;
  color: $base-color;
}

@mixin active-text($normal-color, $active-color) {
  color: $normal-color;
  cursor: pointer;

  &:hover {
    opacity: utils.opacity(0.6);
  }

  &:active {
    color: $active-color;
    opacity: unset;
  }
}

@mixin active-icon($normal-color, $active-color, $use-icon-bg: false) {
  @include set-icon-color($normal-color);

  @if $use-icon-bg {
    @include set-icon-background($normal-color);
  }

  cursor: pointer;

  &:hover {
    opacity: utils.opacity(0.6);
  }

  &:active {
    @include set-icon-color($active-color);

    @if $use-icon-bg {
      @include set-icon-background($active-color);
    }

    opacity: unset;
  }
}

@mixin clear-active-icon($use-icon-bg: false) {
  @include active-icon(unset, unset, $use-icon-bg);

  cursor: unset;

  &:hover {
    opacity: unset;
  }
}

@mixin shadowed-frame {
  border-radius: utils.spacing(2);
  box-shadow: 0 0 utils.spacing(2) 0 utils.theme-color('gray', 300);
}

@mixin input-field-title {
  font-size: utils.spacing(2);
  font-weight: 700;
  color: utils.theme-color('gray', 400);
  line-height: utils.spacing(5);
}

@mixin text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin gap-with-fallback($spacing, $is-horizontal: true, $use-pseudo-before: false) {
  gap: $spacing;

  @supports (-webkit-touch-callout: none) and (not (translate: none)) {
    > * + * {
      @if $use-pseudo-before {
        &::before {
          content: '';
          display: block;

          @if $is-horizontal {
            margin-left: $spacing;
          } @else {
            margin-top: $spacing;
          }
        }
      } @else {
        @if $is-horizontal {
          margin-left: $spacing;
        } @else {
          margin-top: $spacing;
        }
      }
    }
  }
}

@mixin rounded-icon-container {
  overflow: hidden;
  border-radius: utils.spacing('full');
}
