@use 'sass:list';
@use 'sass:map';
@use 'sass:string';
@use 'variables/base';
@use 'variables/colors';

@function theme-color($paths...) {
  $output-color: map.get(colors.$color-map, $paths...);

  @if $output-color == null {
    @error 'Color #{$color}-#{$level} not found';
  }

  @return $output-color;
}

@function spacing($key) {
  @if list.index(base.$spacing-list, $key) != null {
    @return $key * 0.25rem;
  }

  $map-search-result: map.get(base.$spacing-map, $key);

  @if $map-search-result != null {
    @return $map-search-result;
  }

  @error 'Spacing: #{$key} is not found';
}

@function timing($value) {
  @if list.index(base.$timing-list, $value) == null {
    @error 'Timing: ${value} is not found';
  }

  @return #{$value}s;
}

@function opacity($value) {
  @if list.index(base.$opacity-list, $value) == null {
    @error 'Opacity: ${value} is not found';
  }

  @return $value;
}

@function z-index($value) {
  $z-index-value: map.get(base.$z-index-map, $value);

  @if $z-index-value == null {
    @error 'Z-Index: ${value} key is not found';
  }

  @return $z-index-value;
}
