@use 'mixins';
@use 'utils';

.main {
  @include mixins.gap-with-fallback(utils.spacing(1.5));

  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.containerIconBookmark {
  &.active {
    @include mixins.set-icon-color(utils.theme-color('red', 500));
    @include mixins.set-icon-background(utils.theme-color('red', 400));
  }
}
