@use 'mixins';
@use 'utils';

.main {
  @include mixins.gap-with-fallback(utils.spacing(12), false);

  display: flex;
  flex-direction: column;
}

.containerInputField {
  @include mixins.gap-with-fallback(utils.spacing(3), false);

  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: utils.spacing(6);
}
