@use 'mixins';
@use 'utils';

.button {
  @include mixins.autoprefix('transition', 0.1s all ease-out);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: utils.spacing(2) utils.spacing(4);
  width: 100%;
  height: utils.spacing(10);
  border-style: solid;
  border-width: utils.spacing('px');
  border-radius: 4px;

  &:disabled {
    cursor: not-allowed;
    color: utils.theme-color('white');
    background: utils.theme-color('gray', 300);
    border-color: utils.theme-color('gray', 300);
  }

  &:not(:disabled) {
    cursor: pointer;

    &.default {
      color: utils.theme-color('gray', 600);
      background: utils.theme-color('gray', 100);
      border-color: utils.theme-color('gray', 300);
    
      &:hover {
        background: utils.theme-color('gray', 50);
      }
    
      &:active {
        background: utils.theme-color('gray', 200);
      }
    }
    
    &.primary {
      color: utils.theme-color('white');
      background: utils.theme-color('blue', 500);
      border-color: utils.theme-color('blue', 500);
    
      &:hover {
        background: utils.theme-color('blue', 400);
        border-color: utils.theme-color('blue', 400);
      }
    
      &:active {
        background: utils.theme-color('blue', 600);
        border-color: utils.theme-color('blue', 600);
      }
    }
    
    &.warning {
      color: utils.theme-color('gray', 500);
      background: utils.theme-color('yellow', 300);
      border-color: utils.theme-color('yellow', 400);
    
      &:hover {
        background: utils.theme-color('yellow', 200);
        border-color: utils.theme-color('yellow', 300);
      }
    
      &:active {
        background: utils.theme-color('yellow', 400);
        border-color: utils.theme-color('yellow', 400);
      }
    }
    
    &.danger {
      color: utils.theme-color('white');
      background: utils.theme-color('red', 500);
      border-color: utils.theme-color('red', 600);
    
      &:hover {
        background: utils.theme-color('red', 400);
        border-color: utils.theme-color('red', 500);
      }
    
      &:active {
        background: utils.theme-color('red', 600);
        border-color: utils.theme-color('red', 600);
      }
    }
  }
}

.iconLoadingIcon {
  @include mixins.set-icon-color(utils.theme-color('gray', 500));
}
