@use 'mixins';
@use 'utils';

.main {
  @include mixins.gap-y(utils.spacing(12));
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerIconSend {
  @include mixins.set-icon-weight(utils.spacing('half-px'));
  @include mixins.set-icon-size(utils.spacing(28));
  @include mixins.set-icon-color(utils.theme-color('gray', 700));

  padding: utils.spacing(6) 0;
}

.containerBodyContent {
  display: none;

  &.active {
    display: unset;
  }
}

.containerResetPasswordForm {
  width: utils.spacing('full');
}

.containerBackToSignIn {
  text-align: center;
}
