@use 'mixins';
@use 'utils';

.main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: var(--app-height, 100vh);
}

.header {
  flex: none;
  flex-basis: utils.spacing(16);
}

.body {
  flex: 1;
  min-height: 0;
}

.containerLoadingIcon {
  @include mixins.set-icon-color(utils.theme-color('gray', 400));

  display: flex;
  justify-content: center;
  padding: utils.spacing(4) 0;
}

.footer {
  flex: none;
  flex-basis: utils.spacing(16);
}
